<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <getVersionedTestCandidates>
        <processor type="Sitecore.ContentTesting.Pipelines.GetTestCandidates.GetPageVersionTestCandidates, Sitecore.ContentTesting">
          <patch:attribute name="type">Sitecore.Support.ContentTesting.Pipelines.GetTestCandidates.GetPageVersionTestCandidates,Sitecore.Support.98206</patch:attribute>
        </processor>
      </getVersionedTestCandidates>
    </pipelines>
  </sitecore>
</configuration>